<ion-app>
  <app-shell> </app-shell>
  <ion-content>
    <router-outlet> </router-outlet>
  </ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-title>Git, Email & Linkedin</ion-title>
      <ion-grid>
        <ion-row style="text-align: center;">
          <ion-col>
            Desc
            <p>
              Hi Welcome Habby, a project i created to make myself ironic. kinda
              ironic isn't it
            </p>
          </ion-col>
          <ion-col>
            <a href="https://github.com/Pedro-D13" target="_blank">
              <ion-icon name="logo-github"></ion-icon>
            </a>
            <a
              href="mailto:p.afonsosd1994@gmail.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <ion-icon name="mail-outline"></ion-icon>
            </a>
            <a
              href="https://www.linkedin.com/in/pedro-dias-5774a8112/"
              target="_blank"
              rel="noopener noreferrer"
            >
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </ion-col>
          <ion-col>
            About
            <p>
              a little about Habby,the front end is built usin angular, and
              retrieves data through API calls to my django Database.
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-footer>
  <app-floating-action></app-floating-action>
</ion-app>
