<ion-card style="margin: 1rem auto; max-width: 50vw;">
  <ion-card-content>
    <ion-item>
      <ion-label required position="floating"> username</ion-label>
      <ion-input value="" clearInput placeholer="Enter Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label required position="floating">password</ion-label>
      <ion-input value="" clearInput placeholer="Enter Username"></ion-input>
    </ion-item>
    <ion-button submit=""> Login in </ion-button>
    <ion-button> Sign up</ion-button>
  </ion-card-content>
</ion-card>
